
html {
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.container{
    padding:10px;
    width: 100%;
    max-width:380px;
    margin:0 auto;
}

.header{
    width: 100%;
    max-width: 380px;
    height:200px;
    background-image: url('../img/TO-DO-LIST-\(2\).gif');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 1.875rem;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    width: 100%;
    max-width: 380px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #FFF;
    font-size: 1.563rem;
    font-family: 'Titillium Web', sans-serif;
}

.content{
    width: 100%;
    max-width: 380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width: 100%;
    max-width: 380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 1.563rem;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 1.25rem;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 1.563rem;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

.add-to-do{
    position: relative;
    width: 100%;
    max-width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

button {
    border: none;
    outline: none;
}

.add-to-do i{
    position: absolute;
    left: 340px;
    bottom: 12px;
    font-size: 2.5rem;
    color: #4162f6;
    cursor: pointer;
}

.add-to-do input{
    position: absolute;
    left: 5px;
    height: 35px;
    width: 100%;
    max-width: 310px;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    padding-left: 10px;
    border: none;
    outline: none;
}

.add-to-do input::-webkit-input-placeholder { 
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25rem;
}
.add-to-do input::-moz-placeholder { 
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25rem;
}
.add-to-do input:-ms-input-placeholder { 
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25rem;
}
.add-to-do input:-moz-placeholder {
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.25rem;
}

@media screen and (max-width: 400px) {
    .container{
        padding: 0px;
        width: 100%;
        max-width:380px;
        margin:0 auto;
    }
    
    .header{
        width: 100%;
        max-width: 380px;
        height:200px;
        background-image: url('../img/TO-DO-LIST-\(2\).gif');
        background-size: 100% 200%;
        background-repeat: no-repeat;
        border-radius: 0;
        position: relative;
    }

}

@media screen and (max-width: 376px) {
    .add-to-do{
        position: relative;
        width: 100%;
        max-width: 355px;
        height:40px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    .add-to-do input{
        position: absolute;
        left: 5px;
        height: 35px;
        width: 100%;
        max-width: 290px;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        padding-left: 10px;
    }

    .add-to-do i{
        position: absolute;
        left: 330px;
        bottom: 12px;
        font-size: 2.5rem;
        color: #4162f6;
    }

}

@media screen and (max-width: 370px) {
    .add-to-do{
        position: relative;
        width: 100%;
        max-width: 350px;
        height:40px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    .add-to-do input{
        position: absolute;
        left: 5px;
        height: 35px;
        width: 100%;
        max-width: 290px;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        padding-left: 10px;
    }

    .add-to-do i{
        position: absolute;
        left: 280px;
        bottom: 12px;
        font-size: 2.5rem;
        color: #4162f6;
    }

}

@media screen and (max-width: 360px) {
    .add-to-do{
        position: relative;
        width: 100%;
        max-width: 350px;
        height:40px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    .add-to-do input{
        position: absolute;
        left: 5px;
        height: 35px;
        width: 100%;
        max-width: 290px;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        padding-left: 10px;
    }

    .add-to-do i{
        position: absolute;
        left: 315px;
        bottom: 12px;
        font-size: 2.5rem;
        color: #4162f6;
    }

}

@media screen and (max-width: 320px) {
    .add-to-do{
        position: relative;
        width: 100%;
        max-width: 300px;
        height:40px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }

    .add-to-do input{
        position: absolute;
        left: 5px;
        height: 35px;
        width: 100%;
        max-width: 245px;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        padding-left: 10px;
    }

    .add-to-do i{
        position: absolute;
        left: 280px;
        bottom: 12px;
        font-size: 2.5rem;
        color: #4162f6;
    }

}






























